<p>Logged in as : <%=current_user.username %></p>
<h2>ABACUS</h2>
<% if !!flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h3>Welcome, <%=current_user.username%></h3>
<p>Abacus is a tool to help you keep track of all your expenses.</p>
<br></br>
<h4>You currently have <%=current_user.groups.count%> group(s)</h4>
<br></br>
<a href="/groups">View or Create Group</a>
<br></br>
<a href="/logout">Logout</a>
