<h1>Log In to Abacus</h1>

<form action="/login" method="post">
  <label>Username: </label>
  <input type="text" name="username" placeholder="username">

  <label>Password: </label>
  <input type="password" name="password" placeholder="password">
  <br></br>

  <input type="submit" value="Log In">

</form>
