<h2>Log In to Abacus</h2>

<% if !!flash[:message] %> 
  <%= flash[:message] %>
<% end %>

<form action="/login" method="post">
  <label>Username: </label>
  <input type="text" name="username" placeholder="username">

  <label>Password: </label>
  <input type="password" name="password" placeholder="password">
  <br></br>

  <input type="submit" value="Log In">

</form>
